@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Modeseven';
    src: url('../public/fonts/Modeseven-L3n5.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'BasicManual';
    src: url('../public/fonts/Tifax-AJ7g.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }